.Container {
	padding: 1rem 4rem;
	margin: 3rem auto;
}

.Title {
	margin: 1rem auto;
	font-weight: 100;
	font-size: 4rem;
	text-align: center;
}

.RowGrid {
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
}

@media (max-width: 30rem) {
	.Title {
		font-size: 2rem;
	}

	.Container {
		padding: 1rem;
		margin: 1rem;
		margin-bottom: 5rem;
	}
}
