.HomeContainer {
	min-width: 100vw;
	position: relative;
	background: linear-gradient(-45deg, #ca61f3, #9c88ff);
	background-size: 100%;
}

.Home {
	height: 100vh;
	padding: 2rem;
	margin-top: -2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Title {
	margin: 1rem auto;
	font-weight: 100;
	font-size: 4rem;
}

.Profile {
	display: inline-block;
	border-right: 1px solid black;
	padding-right: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
	font-size: 2rem;
	animation: typing 3.5s steps(40, end), blink 0.75s step-end infinite;
}

.ProjectBtn {
	margin: 1rem auto;
}

.FaItem {
	margin: 0.5rem;
	color: black;
}

.FaItemDwn {
	color: lightgray;
	animation: MoveUpDown 1s linear infinite;
}

.FaItem:hover {
	cursor: pointer;
}

.FaItemGit:hover {
	color: #4078c0;
}

.FaItemLkd:hover {
	color: #0e76a8;
}

.MoveScroll {
	animation: moveUpDown 2s ease-in-out infinite;
	animation-direction: alternate;
	opacity: 1;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}

@keyframes moveUpDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(-20px);
	}
}

@media (max-width: 30rem) {
	.Title {
		font-size: 2rem;
	}
	.Profile {
		font-size: 1rem;
	}
}
