.Home {
	height: 100vh;
	padding: 2rem;
	margin-top: -2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Title {
	margin: 1rem auto;
	font-weight: 100;
	font-size: 4rem;
}

.Profile {
	display: inline-block;
	border-right: 1px solid black;
	padding-right: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
	font-size: 2rem;
	animation: typing 3.5s steps(40, end), blink 0.75s step-end infinite;
}

.ProjectBtn {
	margin: 1rem auto;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}

@media (max-width: 30rem) {
	.Title {
		font-size: 2rem;
	}
	.Profile {
		font-size: 1rem;
	}
}
