.ImageContainer {
	padding: 3rem;
}

.CardFlip {
	display: flex;
}

.CardFlip > div {
	--webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: transform 300ms;
	transition-timing-function: linear;
	width: 100%;
	height: 100%;
	margin: 0.5rem;
	padding: 0.5rem;
	display: flex;
}

.CardFront {
	transform: rotateY(0deg);
	text-align: center;
}

.CardBack {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
}

.CardFlip:hover .CardFront {
	transform: rotateY(-180deg);
}

.CardFlip:hover .CardBack {
	transform: rotateY(0deg);
}

.CardFront > div {
	width: 100%;
	height: 100%;
}

.CardBack > div {
	width: 100%;
	height: 100%;
}

.Image {
	width: 100%;
	height: 100%;
}

.Link {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.Card {
	color: #f6f5ff;
	border-radius: 0.4rem;
	background-color: #21293b;
	border: 1px solid violet;
	/* border-left: 0.2rem solid #5e45de;
	border-bottom: 0.2rem solid #5e45de; */
	-webkit-box-shadow: 9px 8px 15px -1px rgba(238, 130, 238, 0.65);
	box-shadow: 9px 8px 15px -1px rgba(238, 130, 238, 0.65);
}

/* .RowContainer {
} */

@media (max-width: 30rem) {
	.RowContainer {
		margin-bottom: 2rem;
	}

	.CardFlip {
		margin-top: 1rem;
	}

	.Link {
		pointer-events: none;
	}
}
