.Container {
	margin: 1rem;
}

.Card {
	width: 24rem;
}

.BtnGroup {
	cursor: pointer;
}

.BtnGroupDisabled {
	cursor: not-allowed;
}

.BtnCol {
	text-align: center;
}

.Tags {
	color: grey;
}

@media (max-width: 30rem) {
	.Card {
		width: 100%;
	}
}
