.RowContainer {
	min-width: 100%;
}

.ImageContainer {
	overflow: hidden;
	width: 80%;
	height: 80%;
	border: 1px solid gray;
	border-bottom: 2px solid darkgray;
	border-radius: 0.4rem;
}
.Image {
	width: 100%;
	max-height: 70vh;
	transition: all 0.5s ease-in-out;
}

.ImageFlip {
	transform: rotateY(-180deg);
	opacity: 0;
	background-color: black;
	--webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	color: white;
	justify-content: center;
	align-items: center;
	transition: all 0.7s ease-in-out;
}

.ImageContainer:hover .Image {
	opacity: 0;
	transform: scale(1.1);
}

.ImageContainer:hover .ImageFlip {
	transform: rotateY(0deg);
	opacity: 1;
}

.BodyContainer {
	border: 1px solid gray;
	border-radius: 0.4rem;
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		10px 16px 6px -4px rgba(0, 0, 0, 0);
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		10px 16px 6px -4px rgba(0, 0, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.BodyContainer h4 {
	margin-top: 2rem;
}

.BodyContainer ol {
	list-style: none;
	margin-top: 1rem;
	flex-grow: 1;
	width: 70%;
	padding: 0 1rem;
}

.BodyContainer ol li {
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.AboutBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.FA {
	/* animation: wiggle 2.5s infinite; */
	animation: wiggle 2.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) 5s infinite both;
}

.AboutBtn:hover {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}

	5% {
		transform: rotate(5deg);
	}

	15% {
		transform: rotate(-5deg);
	}
	50%,
	100% {
		transform: rotate(0deg);
	}
}

@media (max-width: 30rem) {
	.ImageContainer {
		display: none;
		width: 100%;
		height: 100%;
	}
	.BodyContainer ol,
	.ListContainer {
		width: 100%;
	}
}
