.TestimonialContainer {
	width: 100%;
	height: 50vh;
}

.FaContainer {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 40%;
	padding: 0 2rem;
}

.FaLeft,
.FaRight {
	color: grey;
	opacity: 0.7;
	font-weight: 200;
	z-index: 1;
}

.FaLeft:hover,
.FaRight:hover {
	opacity: 1;
	cursor: pointer;
}

.CarouselContainer {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid transparent;
	border-radius: 0.4rem;
	padding: 2rem 1rem;
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		10px 16px 6px -4px rgba(0, 0, 0, 0);
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		10px 16px 6px -4px rgba(0, 0, 0, 0);
}

.ImageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	overflow: hidden;
}

.TitleContainer h5 {
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
}

.TitleContainer p {
	font-size: 0.7rem;
	font-weight: 300;
	text-align: center;
}

.QuoteContainer {
	font-weight: 100;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.QuoteContainer p {
	text-align: center;
	margin: 0;
}

.Image {
	width: 10rem;
	height: 10rem;
	border: 1px solid black;
	margin-bottom: 1rem;
	overflow: hidden;
	border-radius: 50%;
}

.Image img {
	width: 100%;
	height: 100%;

	transition: transform 0.2s ease-in;
}

.Image img:hover {
	transform: scale(1.1);
}

.Item {
	height: 40vh;
}

@media (max-width: 30rem) {
}
