.Container {
	width: 100vw;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-bottom: 6rem;
}

.Title {
	font-size: 4rem;
	font-weight: 100;
	text-align: center;
	margin-top: -1rem;
}

.TestimonialContainer {
	width: 100%;
	height: 50vh;
}

.FaContainer {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 50%;
	padding: 0 2rem;
}

.FaLeft,
.FaRight {
	color: grey;
	opacity: 0.7;
	font-weight: 200;
	z-index: 1;
}

.FaLeft:hover,
.FaRight:hover {
	opacity: 1;
	cursor: pointer;
}

.CarouselContainer {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ImageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	overflow: hidden;
}

.TitleContainer h5 {
	font-size: 1rem;
	font-weight: 700;
}

.TitleContainer p {
	font-size: 0.7rem;
	font-weight: 300;
}

.QuoteContainer {
	font-weight: 100;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.QuoteContainer p {
	text-align: center;
	margin: 0;
}

.Image {
	width: 10rem;
	height: 10rem;
	border: 1px solid black;
	margin-bottom: 1rem;
}

.Item {
	height: 40vh;
}

@media (max-width: 30rem) {
	.Container {
		padding-bottom: 3rem;
	}

	.Title {
		font-size: 2rem;
		margin-top: -1rem;
	}
}
