.Container {
	width: 100vw;
	min-height: 99vh;
	display: flex;
	flex-direction: column;
	padding-bottom: 6rem;
	background-color: #f5f5f5;
}

.Title {
	font-size: 4rem;
	font-weight: 100;
	text-align: center;
	margin-top: 4rem;
}

.WrappedContainer {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

@media (max-width: 30rem) {
	.Container {
		padding-bottom: 0rem;
	}

	.Title {
		font-size: 2rem;
		margin-top: 2.5rem;
	}

	.Container {
		min-height: 95vh;
	}
}
