.Container {
	width: 100vw;
	min-height: 90vh;
	display: flex;
}

.LeftContainer,
.RightContainer {
	min-width: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.LeftContainer {
	width: 40%;
	background-color: #21293b;
}

.RightContainer {
	width: 60%;
	background: linear-gradient(-45deg, #795eff, white, #795eff, #5e45de);
}

.LeftContainer .Title {
	text-align: right;
	padding-right: 0.4rem;
	color: white;
}

.RightContainer .Title {
	text-align: left;
	padding-left: 0.4rem;
	color: black;
}

.Title {
	font-weight: 100;
	font-size: 4rem;
	margin-top: 2rem;
}

.ImageContainer {
	width: 100%;
	height: 100%;
	padding: 1rem 2rem;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.InfoTitle {
	text-align: center;
	font-size: 2rem;
	font-weight: 400;
	margin: 1rem;
	color: white;
}

.Image {
	max-width: 100%;
	max-height: 100%;
	animation: shake 2.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) 5s infinite both;
}

.ButtonContainer {
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
}

.Button {
	padding: 0.8rem 1.5rem;
	border: 1px solid #795eff;
	border-left: 0.2rem solid #5e45de;
	border-bottom: 0.2rem solid #5e45de;
	background-color: #795eff;
	border-radius: 0.4rem;
	color: white;
	font-weight: 700;
}

.Button:hover {
	border: 1px solid #21293b;
	background-color: #5e45de;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

/* Right Container */

.InfoContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 5rem;
	align-items: center;
	flex-grow: 1;
	align-items: center;
}

.InfoList {
	list-style-type: none;
	border-radius: 0.4rem;
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		10px 16px 6px -4px rgba(0, 0, 0, 0);
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		10px 16px 6px -4px rgba(0, 0, 0, 0);
	padding: 2rem 4rem;
	margin: 1rem 2rem;
}

.InfoListItem {
	padding: 1rem 0;
}

.Badge {
	background-color: #4b475e;
	color: white;
	padding: 0.2rem 0.4rem;
	border-radius: 0.4rem;
	font-size: 1.1rem;
	margin: 0 0.2rem;
	font-weight: 700;
	text-transform: uppercase;
}

@media (max-width: 30rem) {
	.RightContainer {
		display: none;
	}

	.LeftContainer .Title {
		text-align: center;
	}

	.Title {
		font-size: 2rem;
		color: white;
	}

	.Title::after {
		content: ' Project';
	}

	.LeftContainer {
		width: 100%;
	}

	.Button {
		padding: 0.8rem;
		font-weight: 400;
	}

	.ButtonContainer {
		display: flex;
		justify-content: space-between;
		margin-top: 4rem;
	}

	.ImageContainer {
		width: 90%;
		height: 100%;
		margin-top: 5rem;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
