.Container {
	width: 100vw;
	min-height: 99vh;
	background: #21293b;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.Title {
	font-weight: 100;
	font-size: 4rem;
	padding: 0 1rem;
}

.NavLink {
	text-decoration: none !important;
	color: white;
	font-size: 2rem;
}

.NavLink:hover {
	color: violet;
}

.BottomTitle {
	margin-top: 2rem;
}

.BottomTitle::after {
	content: ' - By Akash';
	color: violet;
}

@media (max-width: 30rem) {
	.Container {
		min-height: 100vh;
	}

	.Title {
		font-size: 2rem;
	}
	.BottomTitle {
		font-size: 0.9rem;
		font-weight: 700;
		padding: 0 1rem;
	}
}
